<mat-card>
  <mat-card-header>
    <mat-card-title>
      Attendance List
    </mat-card-title>
    <button mat-mini-fab color="primary" (click)="openCreateModal()"><i class="material-icons">add</i></button>
  </mat-card-header>
  <mat-card-content>
    <div style="overflow-x:auto;">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Employee</th>
            <th>Date</th>
            <th>Attendance</th>
            <th>In Time</th>
            <th>Out Time</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>2/1/2019</td>
            <td>Full Day</td>
            <td>9:30</td>
            <td>17:30</td>
            <td class="list-button">
              <button mat-icon-button color="warn"><i class="material-icons">remove_circle_outline</i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>
